# ci
cache

# build artifacts
.next
.swc
.turbo
.vercel
.output
out/

# production
build
fonts

# dependencies
.pnpm-store
pnpm-lock.yaml

# testing
coverage

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
dist
.vscode
.DS_Store
*.pem
.eslintcache
